/*                                  Styling section                     */ 

/*Adding universal font type*/
*{
    font-family:sans-serif;
}

body{
    margin: 0;
}

/*Added background color to header and footer*/
header,footer{
    background-color:#1F2937;
}

/*Adding flexbox to sort the header out*/
.Top{
    display:flex;
    justify-content:space-between;
}

ul{
    display:flex;
    gap: 20px;
}

/*"This website is awesome" specs, class defined*/
.AwesomeWebsite{
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
}

/*Header logo text, class defined*/
.HeaderLogo{
    font-size:24px;
    display:inline;
    color:#F9FAF8;
}

/*Paragraph in placeholder for image in header*/
.HeaderImage{
    color:#E5E7EB;
    font-weight:100;
}

/*Area to store the image*/
.HolderHeader{
    width:500px;
    height:200px;
    background-color: lightslategray;
}

/*Chaining together the attributes, secondary text, and the list elements*/
a,.SecondaryText,li{
    text-decoration:none;
    list-style:none;
    color:#e5e7eb;
    font-size:18px;
    font-weight:100;
}

/*Focusing on the buttons, shared property is pixel size, color,font,padding*/
.SignUp,.SignUp2{
    background-color:#3882F6;
    font-size:16px;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius:8px;
}

/*Different border for button 1*/
.SignUp{
    border-color:#3882F6;
}

/*Different border for button 2*/
.SignUp2{
    border-color:#E5E7EB;   
}

/*Information header text*/
.InfoHeader {
    font-size:36px;
    font-weight:900;
    color: #1F2937;
}

/*Quote section background color and text specs by inheritance */
.Quote{
    background-color:#E5E7EB;
    font-size:36px;
    font-style:italic;
    color:#1F2937;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    padding: 70px 30px;
}

.Author{
    text-align:right;
}
/*Adding the final styling for the footer*/
footer{
    color:#F9FAF8;
    display:flex;
    padding:10px;
    text-align:center;
    justify-content:center;
    margin-top:70px;
    border-radius:5px;
}

.CallToAction{
    margin:70px 20px 70px 20px;
}
/*Coloring the div in section above footer*/
.BlueContainer{
    background-color:#3882F6;
    color: #ebe5e5;
    padding: 10px 20px;
    border-radius:10px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

span{
    align-self:center;
    flex-wrap: nowrap;
}

/*Add holders in div below the header*/
.Holder{
    width:100px;
    height:100px;
    border-color:#3882F6;
    border-style:solid;
    border-radius:6px;
}

/*Added bold to the Thor God of Thunder paragraph and tweaked font size*/
.Author{
    font-weight: 550;
    font-size: 29px;
}

/*Focusing on the some random information div*/
.ImageHolderSection{
    /*Makes the image holder section a flex container*/
    display:flex;
    /*Specifies we want everything arranged in a row*/
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    flex:auto;
    flex-wrap: wrap;
}

.Wrapper{
    display:flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-around;
}

h2 {
    align-self: center;
}

.HolderAndText{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 1;
    margin-top: 100px,
}

.MainHeader{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.HolderHeader{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}